﻿@model IEnumerable<DAL.JobSeeker>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/angular.min.js"></script>
<script src="/Scripts/JobSeeker/Module.js"></script>
<script src="/Scripts/JobSeeker/Service.js"></script>
<script src="/Scripts/JobSeeker/Controller.js"></script>
<div ng-controller="myCntrl">
    <div class="heading_part">
        <div class="center_container"><h2>Dashboard</h2></div><!---center_container--->
    </div><!---heading_part--->

    <div class="header_fullparts">
        <div class="center_container">
            <div class="col-xs-6 col-sm-3 parts_fullparts dashboard_parts">
                <h2>{{employees.length}}</h2>
                <p>Number of CVS</p>
            </div>

            <div class="col-xs-6 col-sm-3 parts_fullparts dashboard_parts">
                <h2>5 <!--span><img src="images/email.png"/></span--></h2>
                <p>Number of Jobs</p>
            </div>

            <div class="col-xs-6 col-sm-3 parts_fullparts dashboard_parts">
                <h2>2 <!--span><img src="images/positon.png"/></span--></h2>
                <p>Sales</p>
            </div>

            <div class="col-xs-6 col-sm-3 parts_fullparts dashboard_parts">
                <h2>3 <!--span><img src="images/LAST.png"/></span--></h2>
                <p>Outstanding</p>
            </div>
        </div><!---center_container--->
    </div> <!---header_fullparts--->

    <div class="main_box_pernolinfo">
        <div class="col-xs-12 col-sm-12 cv_box">
            <h1 class="c_v">CV</h1>
            <div style=" height: 183px; border: 1px solid red; overflow: scroll; overflow-x: hidden; ">
                <table class="table-responsive cv_table">
                   
                    <tr style="background: #CCCCCC;">
                        <th class="dropdown">
                            <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                                Name
                                <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="dropdown">
                            <a href="#" ng-click="sortType = 'Typeofposition'; sortReverse = !sortReverse">
                                Type
                                <span ng-show="sortType == 'Typeofposition' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Typeofposition' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="dropdown">
                           
                            <a href="#" ng-click="sortType = 'Salary'; sortReverse = !sortReverse">
                                Salary
                                <span ng-show="sortType == 'Salary' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Salary' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="dropdown">CV</th>
                        <th class="dropdown">Mobile</th>
                        <th class="dropdown">
                            <a href="#" ng-click="sortType = 'Email'; sortReverse = !sortReverse">
                                Email
                                <span ng-show="sortType == 'Email' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Email' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="dropdown">Interveiw</th>
                        <th class="dropdown">
                            <a href="#" ng-click="sortType = 'Rating'; sortReverse = !sortReverse">
                                Rating
                                <span ng-show="sortType == 'Rating' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Rating' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                    <tr ng-repeat="employee in employees | orderBy:sortType:sortReverse">
                        <td style="cursor:pointer;" ng-click="editEmployee(employee)">{{employee.Name}}</td>
                        <td>{{employee.Typeofposition}}</td>
                        <td>{{employee.Salary}}</td>
                        <td><a target="_blank" href="~/Content/Upload/Cv/{{employee.CV}}"><img style="width:18px;" src="../content/images/pdf.png" /></a></td>
                        <td>{{employee.Mobile}}</td>
                        <td>{{employee.Email}}</td>
                        <td><input onclick="return false" ng-checked="employee.IsInterview" ng-model="employee.IsInterview" name="chkJobSeeker" id="{{employee.Id}}" type="checkbox" /></td>
                        <td>{{employee.Rating}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 testimonial_part drill_down" ng-show="canShow">

            <div class="col-xs-12 col-sm-6 text_drilldown">
                <b style="font-size:28px;">{{Name}}</b>
                <p> <b>Type of position</b>{{Typeofposition}}</p>

                <p><b>Work area</b>{{workplace}}</p>


                @*<input type="checkbox" ng-model=IsActive ng-checked="{{IsActive}}" name="IsActive" /> Is Active ?<br />*@



            </div>
            <div class="col-xs-12 col-sm-6 text_drilldown">
                <p><b>Note</b></p>
                <p><textarea ng-model="Feedback" placeholder="Multitext"></textarea></p>
                <p class="text-left">
                    <select data-ng-options="o.name for o in options" data-ng-model="selectedOption"></select>
                    <input type="checkbox" ng-model=IsInterview ng-checked="{{IsInterview}}" name="IsInterview" /> Is Interview ?
                    <input type="submit" value="Submit" style="margin-left:50px;" class="btn btn-default" ng-click="UpdateEmployee()" />
                </p>



            </div>
        </div>
    </div>  <!---main_box_pernolinfo--->
</div>