﻿@{
    Layout = null;
}
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />
    <link rel="text/css" href="https://productforums.google.com/forum/#!topic/blogger-pt/." />
    <title>Gitanjali Hotels</title>
    <!-- Bootstrap core CSS -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/content/js/jssor.slider.mini.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script type="text/ng-template" id="form-messages">
        <div ng-message="required"></div>
        <div ng-message="minlength"></div>
        <div ng-message="email"></div>
    </script>

</head>
<body>
    <div id="wrapper">
        <div class="container">
            <div class="header">
                <div class="head_container">
                    <div class="logo">
                        <h1>Logo</h1>
                    </div>
                    <div class="text_hotel">
                        <h2>Gitanjali Hotel Staffing</h2>
                    </div>

                    <div class="login_btn" id="LogoutPanel" style="display:none;">
                        <span>Welcome : Admin <a href="/login.html">Logout</a></span>
                    </div>


                    <div class="login_btn" id="LoginPanel">
                        <a href="/login.html"><img src="~/content/images/login.jpg" /> &nbsp; Login</a>
                    </div>

                    <div class="toggle_part">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="~/content/images/toggle.png" /><!--span class="caret"></span--></a>
                        <ul class="dropdown-menu menu_drop">
                            <li><a href="~/jobSeeker/List">CV</a></li>
                            <li><a href="~/hotelowner/">Jobs</a></li>
                            <li><a href="~/hotelowner/">Sales</a></li>
                            <li><a href="~/hotelowner/">Outstanding</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <form name="my_form" class="main-form container" ng-submit="submit()" ng-controller="FormCtrl" novalidate enctype="multipart/form-data">
                <div class="heading_part">
                    <div class="center_container"><h2>Submit Your CV</h2></div>
                </div>
                <div class="header_fullparts">
                    <div class="center_container">
                        <div class="col-xs-6 col-sm-3 parts_fullparts">
                            <h2>Name</h2>
                            <input type="text" ng-model="Name" name="Name" placeholder="Enter your name" ng-minlength="3" required />
                            <div class="error-messages" ng-if="interacted(my_form.Name)" ng-messages="my_form.Name.$error" ng-messages-include="form-messages">
                                <div ng-message="required">Enter your full name</div>
                                <div ng-message="minlength">Enter your full name</div>
                            </div>

                        </div>
                        <div class="col-xs-6 col-sm-3 parts_fullparts">
                            <h2>E-mail</h2>
                            <input type="email" ng-model="Email" name="Email" placeholder="Email Address" required />
                            <div class="error-messages" ng-if="interacted(my_form.Email)" ng-messages="my_form.Email.$error" ng-messages-include="form-messages">
                                <div ng-message="required">Enter your correct email address</div>
                                <div ng-message="email">Enter your correct email address</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 parts_fullparts">
                            <h2>Position</h2>
                            <input type="text" ng-model="Position" name="Position" placeholder="Current position" required />
                            <div class="error-messages" ng-if="interacted(my_form.Position)" ng-messages="my_form.Position.$error" ng-messages-include="form-messages">
                                <div ng-message="required">Enter your current position</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 parts_fullparts">
                            <h2>CV</h2>
                            <input ng-model="CV" valid-file name="CV" required type="file" accept=".pdf" style="margin-left: -2px; border: 0;" />

                            <div class="error-messages" ng-if="interacted(my_form.CV)" ng-messages="my_form.CV.$error" ng-messages-include="form-messages">
                                <div ng-message="required">Upload your CV in PDF-format</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="persnol_imformation">
                    <div class="center_container">
                        <h1>Personal Imformation</h1>
                    </div>
                </div>



                <div class="main_box_pernolinfo">

                    <div class="col-xs-12 col-sm-6 text_boxes">
                        <p>
                            <input type="text" ng-model="Mobile" name="Mobile" placeholder="Mobile phone number" required />
                            <div class="error-messages" ng-if="interacted(my_form.Mobile)" ng-messages="my_form.Mobile.$error" ng-messages-include="form-messages">
                                <div ng-message="required">Enter your mobile number</div>
                            </div>
                        </p>
                        <p>
                            <input type="text" ng-model="Salary" name="Salary" placeholder="Current salary" />
                        </p>
                        <p>
                            <textarea rows="3" ng-model="Typeofposition" name="Typeofposition" placeholder="What type of Position Are you looking For?"></textarea>
                        </p>
                        <p>
                            <textarea rows="3" ng-model="workplace" name="workplace" placeholder="Where you you want to work? in Sri Lanka or somewhere else in the world?"></textarea>
                        </p>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Submit" class="btn btn-primary" />
                                <a href="#" ng-click="ClickMeToRedirect()">Click Me!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 testimonial_part">
                        <div class="col-xs-6 col-sm-7 text_testimonial">
                            <p>Hi</p>
                            <p>
                                Upload your CV to my website and I will do my best to find a new position for you. I can not promise anything, but I will give you feedback during the process. I suggest to check your email or keep your mobile with you.
                            </p>
                            <p class="text-right"><img src="~/content/images/IMG_24052016_114029.png" /></p>
                        </div>
                        <div class="col-xs-6 col-sm-5 img_testimonial">
                            <img class="img-circle" src="~/content/images/lady.png" />
                        </div>
                    </div>
                </div>
            </form>


            <script src="~/Scripts/angular.js"></script>
            <script src="~/Scripts/JobSeeker/Module.js"></script>
            <script src="~/Scripts/JobSeeker/Service.js"></script>
            <script src="~/Scripts/JobSeeker/Controller.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-messages.js"></script>
            <script type="text/javascript">
                angular.module('app', ['ngMessages'])
                  .controller('FormCtrl', function ($scope, $http, $window) {
                      $scope.submitted = false;
                      $scope.submit = function () {

                          $scope.submitted = true;// $scope.my_form.$valid;

                      };
                      $scope.interacted = function (field) {
                          return $scope.submitted || field.$dirty;
                      };

                      $scope.Validate = function () {
                          return $scope.my_form.$valid;
                      }

                      $scope.ClickMeToRedirect = function () {
                          var url = "http://" + $window.location.host + "/jobseeker/thankyou";
                          $window.location.href = url;
                      };
                  }).directive('validFile', function () {
                      return {
                          require: 'ngModel',
                          link: function (scope, el, attrs, ngModel) {
                              //change event is fired when file is selected
                              el.bind('change', function () {
                                  scope.$apply(function () {
                                      var file = el.val();
                                      file = file.split(".").pop();
                                      if (file == 'pdf') {
                                          ngModel.$setViewValue(el.val());
                                          ngModel.$render();
                                      }
                                  })
                              })
                          }
                      }
                  })
            </script>

        </div>
    </div>
</body>
</html>
