﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<script src="/Scripts/angular.min.js"></script>
<script src="/Scripts/JobSeeker/Module.js"></script>
<script src="/Scripts/JobSeeker/Service.js"></script>
<script src="/Scripts/JobSeeker/Controller.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('form').submit(function () {
            if ($(this).valid()) {
                setTimeout(Redirect, 1000);
            }
        });
    });

    function Redirect() {
        window.location = 'http://localhost:23758/jobseeker/Thankyou';
    }
</script>

<div ng-controller="myCntrl">

    <form name="registerform" action="/api/jobseekerregistrationservice" enctype="multipart/form-data" ng-submit="submit()" method="post">
        <div class="heading_part">
            <div class="center_container"><h2>Submit Your CV</h2></div>
        </div>
        <div class="header_fullparts">
            <div class="center_container">
                <div class="col-xs-6 col-sm-3 parts_fullparts">
                    <h2>Name</h2>
                    <input type="text" ng-model="Name" name="Name" placeholder="Enter your name" required />
                </div>

                <div class="col-xs-6 col-sm-3 parts_fullparts">
                    <h2>E-mail</h2>
                    <input type="email" ng-model="Email" name="Email" placeholder="Email Address" ng-required="true" />

                </div>

                <div class="col-xs-6 col-sm-3 parts_fullparts">
                    <h2>Position</h2>
                    <input type="text" ng-model="Position" name="Position" placeholder="Current position" />
                </div>

                <div class="col-xs-6 col-sm-3 parts_fullparts">
                    <h2>CV</h2>
                    <input type="file" name="File" accept=".pdf" style="margin-left: -2px; border: 0;" />
                </div>
            </div>
        </div>

        <div class="persnol_imformation">
            <div class="center_container">
                <h1>Personal Imformation</h1>
            </div>
        </div>

        <div class="main_box_pernolinfo">
            <div class="col-xs-12 col-sm-6 text_boxes">
                <p>
                    <input type="text" ng-model="Mobile" name="Mobile" placeholder="Mobile phone number" ng-required="true" />
                </p>
                <p>
                    <input type="text" ng-model="Salary" name="Salary" placeholder="Current salary" />
                </p>
                <p>
                    <textarea rows="3" ng-model="Typeofposition" name="Typeofposition" placeholder="What type of Position Are you looking For?"></textarea>
                </p>
                <p>
                    <textarea rows="3" ng-model="workplace" name="workplace" placeholder="Where you you want to work? in Sri Lanka or somewhere else in the world?"></textarea>
                </p>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 testimonial_part">
                <div class="col-xs-6 col-sm-7 text_testimonial">
                    <p>Hi</p>
                    <p>
                        Upload your CV to my website and I will do my best to find a new position for you. I can not promise anything, but I will give you feedback during the process. I suggest to check your email or keep your mobile with you.
                    </p>
                    <p class="text-right"><img src="~/content/images/IMG_24052016_114029.png" /></p>
                </div>
                <div class="col-xs-6 col-sm-5 img_testimonial">
                    <img class="img-circle" src="~/content/images/lady.png" />
                </div>
            </div>
        </div>

    </form>
</div>