﻿@{
    ViewBag.Title = "Log in";
}

<script src="/Scripts/angular.min.js"></script>
<script src="/Scripts/Login/Module.js"></script>
<script src="/Scripts/Login/Service.js"></script>
<script src="/Scripts/Login/Controller.js"></script>

<div class="col-md-4 col-md-offset-3" ng-controller="myCntrl">
    <div class="login-form-1">
        <fieldset>
            <legend>Log in</legend>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" ng-model="Email" placeholder="Email" />
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="Password" placeholder="Password" />
            </div>
            <div class="form-group">

                <input type="submit" class="btn btn-primary" value="Login" ng-click="Login()" />
            </div>
        </fieldset>

        @*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Log in</legend>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <input type="submit" class="btn btn-primary" value="Log in" />
                </fieldset>

            }*@
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .login-form-main-message {
        background: #ffffff;
        color: #999999;
        border-left: 3px solid transparent;
        border-radius: 3px;
        margin-bottom: 8px;
        font-weight: bold;
        height: 0;
        padding: 0 20px 0 17px;
        opacity: 0;
        transition: all ease-in-out 200ms;
    }

        .login-form-main-message.show {
            height: auto;
            opacity: 1;
            padding: 10px 20px 10px 17px;
        }

        .login-form-main-message.success {
            border-left-color: #2ecc71;
        }

        .login-form-main-message.error {
            border-left-color: #e74c3c;
        }

    form {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: #eee;
        background-image: none;
        background-origin: padding-box;
        background-position: 0 0;
        background-repeat: repeat;
        background-size: auto auto;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 300px;
    }

    .login_page_up {
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>
